@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --varLogoPink: #e598d8;
  --varLogoYellow: #e1f16b;
  --varLogoYellow2: #fff559;
  --varLogoBlue: #a0f8ee;
  --varLogoDarkBlue: #2c346b;
}
html {
  margin: 0;
}
body {
  font-family: "Josefin Sans";
  background-color: #e8e8ec;
}

img {
  display: inline;
}
.appFont {
  font-family: "Josefin Sans" !important;
}

.hCustom {
  /* height: 80dvh !important; */
  height: calc(100vh - 160px) !important;
}
/* css for designed scrollbar start here */
::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.gradText {
  background: linear-gradient(119deg, #e598d8 0%, #2c346b 99.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* css for designed scrollbar ends here */

/* CSS Style Guide */
/* Following  border-radius - 8px / 16px */
/* Tailwind - rounded-lg */

/* Overwriting Polotno defaults Start */

.polotno-app-container
  .bp5-button:not([class*="bp5-intent-"])
  .bp5-icon:not([class*="bp5-intent-"]) {
  color: rgb(255, 255, 255);
}
.bp5-button:not([class*="bp5-intent-"]):hover {
  background-color: rgb(255, 255, 255);
}

/* Styling the sidebar background */
.go1621360228 {
  border: none;
  /* background-color: #e8e8ec !important; */
}
/* Styling Sidepanel Icons on Click */

.go3244416805:hover {
  background-color: #e1f16b50 !important;
}
.go3244416805.active {
  background-color: #e1f16b !important;
}
/* .go1430256704 .polotno-side-tabs-container::-webkit-scrollbar-track {
  background: #eb0ac5;
} 
.polotno-side-tabs-container::-webkit-scrollbar {
  width:32px !important;
}  */

/* Styling the Sidebar Icons */
/* .go1430256704{
  background-color: white;
  margin: 8px;
  scrollbar-width: 0 !important;
} */

/* .go1311524876 {
  margin: 8px;
  height: 1600px !important;
} */
@media (max-width: 500px) {
  .go1311524876.bp5-navbar {
    position: absolute !important;
    left: 4vw !important;
    bottom: 64px !important;
    z-index: 100 !important;
    height: 64vh !important;
    width: 88vw !important;
  }
}

/* Styling the Sidepanel */
.bp5-navbar {
  border-radius: 8px;
  background-color: #ffffff;
}
.go3244416805 {
  /* border-radius: 64px; */
  border-radius: 8px;
}
.go3244416805:hover {
  border-radius: 8px;
}
/* .go1236784588 {
  height: 99% !important;
} */
/* Styling the Buttons */
.bp5-button {
  /* all:unset; */
  border-radius: 8px;
  background-color: #e1f16ba1;
}

/* .polotno-panel-container{
  height: 1600px !important;
} */
.polotno-side-tabs-inner,
.polotno-side-panel-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Styling the Popovers */
.bp5-popover2 {
  border-radius: 8px;
  z-index: 10000;
}

.bp4-popover2 .bp4-popover2-content {
  border-radius: 8px;
}
.bp5-menu {
  border-radius: 8px;
}
.bp5-input-group .bp5-input {
  border-radius: 8px;
}
/* Styling the bottom bar (zoom btn, remove bg ..)*/

.go1534176008 {
  position: absolute !important;
  bottom: 15px !important;
}

/* Under DEV */
/* overwrite colors for side-panel tabs */
.bp5-dark .polotno-side-tabs-container .polotno-side-panel-tab:hover,
.bp5-dark .polotno-side-tabs-container .polotno-side-panel-tab.active {
  background-color: #fafafa;
  /* color: white; */
}

/* change hover style of all buttons */
.bp5-dark .bp5-button:not([class*="bp5-intent-"]):hover {
  background-color: #fafafa;
}

/* change main color of all active buttons */
.bp5-dark
  .polotno-app-container
  .bp5-button:not([class*="bp5-intent-"])
  .bp5-icon:not([class*="bp5-intent-"]) {
  color: white;
}
.bp5-dark .polotno-app-container .bp5-button.bp5-minimal.bp5-disabled {
  color: rgba(117, 186, 255, 0.6);
}

/* Overwriting Polotno defaults End */
/* Add these custom classes to your Tailwind CSS configuration or your stylesheets */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-fadeInUp {
  animation: fadeInUp 0.3s ease;
}

.animation-fadeOutDown {
  animation: fadeInUp 0.3s ease reverse; /* Reverse the animation for fade-out effect */
}

/* remove it */
.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

/* remove it */

/* Left Sidebar */

.go3345817399 {
  border-radius: 8px !important;
  padding: 4px !important;
  background-color: #e8e8ec !important;
  display: flex;
  gap: 8px;
  border: none !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.go806284747::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.go806284747 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.go806284747 {
  border-radius: 8px !important;
  background-color: #fff !important;
}
.go1222219977 {
  border-radius: 8px !important;
  padding: 4px !important;
}

.bp5-navbar {
  box-shadow: 0 1px rgba(137, 137, 137, 0.1), 0 1px 1px rgba(17, 20, 24, 0.2);
}

.go3593045756{
  z-index: 0;
}